# Data preprocessing template

## Importing the libraries

In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [30]:
dataset = pd.read_csv('Data.csv')

In [31]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [58]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [59]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [60]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'], dtype=object)

## Taking care of missing data

In [61]:
from sklearn.preprocessing import Imputer

In [62]:
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputer.fit(X[:,1:3]);
X[:,1:3] = imputer.transform(X[:,1:3]);

In [63]:
X[:,1:3]

array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, 63777.77777777778],
       [35.0, 58000.0],
       [38.77777777777778, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

# Update and Save dataset

In [64]:
dataset.iloc[:, :-1] = X
dataset.to_csv('Data_out.csv');

# Encoding categorical data

In [65]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [79]:
labelencoder_X = LabelEncoder();
X[:, 0] = labelencoder_X.fit_transform(X[:, 0]);

In [80]:
X

array([[1.00, 0.00, 0.00, 44.00, 72000.00],
       [0.00, 0.00, 1.00, 27.00, 48000.00],
       [0.00, 1.00, 0.00, 30.00, 54000.00],
       [0.00, 0.00, 1.00, 38.00, 61000.00],
       [0.00, 1.00, 0.00, 40.00, 63777.78],
       [1.00, 0.00, 0.00, 35.00, 58000.00],
       [0.00, 0.00, 1.00, 38.78, 52000.00],
       [1.00, 0.00, 0.00, 48.00, 79000.00],
       [0.00, 1.00, 0.00, 50.00, 83000.00],
       [1.00, 0.00, 0.00, 37.00, 67000.00]])

In [81]:
onehotendcoder = OneHotEncoder(categorical_features=[0])
X = onehotendcoder.fit_transform(X).toarray();

In [90]:
float_formatter = lambda x: "%.2f" % x
np.set_printoptions(formatter={'float_kind':float_formatter})
X

array([[0.00, 1.00, 0.00, 0.00, 44.00, 72000.00],
       [1.00, 0.00, 0.00, 1.00, 27.00, 48000.00],
       [1.00, 0.00, 1.00, 0.00, 30.00, 54000.00],
       [1.00, 0.00, 0.00, 1.00, 38.00, 61000.00],
       [1.00, 0.00, 1.00, 0.00, 40.00, 63777.78],
       [0.00, 1.00, 0.00, 0.00, 35.00, 58000.00],
       [1.00, 0.00, 0.00, 1.00, 38.78, 52000.00],
       [0.00, 1.00, 0.00, 0.00, 48.00, 79000.00],
       [1.00, 0.00, 1.00, 0.00, 50.00, 83000.00],
       [0.00, 1.00, 0.00, 0.00, 37.00, 67000.00]])

In [91]:
labelencoder_Y = LabelEncoder();
y = labelencoder_Y.fit_transform(y);

In [92]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1], dtype=int64)

In [83]:
dataset

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

# Splitting the dataset into the Training set and Test set

In [84]:
from sklearn.model_selection import train_test_split

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [94]:
y_train

array([1, 1, 1, 0, 1, 0, 0, 1], dtype=int64)

In [95]:
y_test

array([0, 0], dtype=int64)

In [97]:
X_train

array([[1.00, 0.00, 1.00, 0.00, 40.00, 63777.78],
       [0.00, 1.00, 0.00, 0.00, 37.00, 67000.00],
       [1.00, 0.00, 0.00, 1.00, 27.00, 48000.00],
       [1.00, 0.00, 0.00, 1.00, 38.78, 52000.00],
       [0.00, 1.00, 0.00, 0.00, 48.00, 79000.00],
       [1.00, 0.00, 0.00, 1.00, 38.00, 61000.00],
       [0.00, 1.00, 0.00, 0.00, 44.00, 72000.00],
       [0.00, 1.00, 0.00, 0.00, 35.00, 58000.00]])

In [100]:
X_test

array([[1.00, 0.00, 1.00, 0.00, 30.00, 54000.00],
       [1.00, 0.00, 1.00, 0.00, 50.00, 83000.00]])

# Feature Scaling

In [102]:
from sklearn.preprocessing import StandardScaler

In [103]:
sc_X = StandardScaler();
X_train = sc_X.fit_transform(X_train)

In [104]:
X_train

array([[1.00, -1.00, 2.65, -0.77, 0.26, 0.12],
       [-1.00, 1.00, -0.38, -0.77, -0.25, 0.46],
       [1.00, -1.00, -0.38, 1.29, -1.98, -1.53],
       [1.00, -1.00, -0.38, 1.29, 0.05, -1.11],
       [-1.00, 1.00, -0.38, -0.77, 1.64, 1.72],
       [1.00, -1.00, -0.38, 1.29, -0.08, -0.17],
       [-1.00, 1.00, -0.38, -0.77, 0.95, 0.99],
       [-1.00, 1.00, -0.38, -0.77, -0.60, -0.48]])

In [106]:
X_test = sc_X.transform(X_test)

In [107]:
X_test

array([[1.00, -7.00, 22.67, -5.68, -7.81, -6.57],
       [1.00, -7.00, 22.67, -5.68, -7.71, -6.57]])